@font-face {
    font-family: 'Boulia';
    src: url('Boulia-Demo.woff2') format('woff2'),
        url('Boulia-Demo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Boulia';
    src: url('Boulia-Demo.woff2') format('woff2'),
        url('Boulia-Demo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

